include restricted/header.pug
    link(rel="stylesheet" href="styles/catalog.css")
    title Каталог
.contant
    .contant__top
        h1.contant__top-title Обувь
    .contant__catalog
        .contant__catalog-row
            - var imagePathw = ('assets/img/catalog/')
            each picture, bedFurniture in ['row1-img1.png', 'row1-img2.png', 'row1-img3.png', 'row1-img4.png']
                .item
                    img(class='lazy' alt='' src= imagePathw + picture)
                    .item__title
                        a(href='item.html') Maison Margiela Fusion Low Sneakers
                    .item__subtitle Кроссовки
                    .item__sale 92 000 ₽
        .contant__catalog-row
            - var imagePathw = ('assets/img/catalog/')
            each picture, bedFurniture in ['row2-img1.png', 'row2-img2.png', 'row3-img3.png', 'row4-img4.png']
                .item
                    img(class='lazy' alt='' src= imagePathw + picture)
                    .item__title
                        a(href='item.html') Maison Margiela Fusion Low Sneakers
                    .item__subtitle Кроссовки
                    .item__sale 92 000 ₽
        .contant__catalog-row
            - var imagePathw = ('assets/img/catalog/')
            each picture, bedFurniture in ['row3-img1.png', 'row3-img2.png', 'row3-img3.png', 'row3-img4.png']
                .item
                    img(class='lazy' alt='' src= imagePathw + picture)
                    .item__title
                        a(href='item.html') Maison Margiela Fusion Low Sneakers
                    .item__subtitle Кроссовки
                    .item__sale 92 000 ₽
        .contant__catalog-row
            - var imagePathw = ('assets/img/catalog/')
            each picture, bedFurniture in ['row4-img1.png', 'row4-img2.png', 'row4-img3.png', 'row4-img4.png']
                .item
                    img(class='lazy' alt='' src= imagePathw + picture)
                    .item__title
                        a(href='item.html') Maison Margiela Fusion Low Sneakers
                    .item__subtitle Кроссовки
                    .item__sale 92 000 ₽
    //- window < 1200px
    .contant__catalog.media
        - var imagePath = ('assets/img/catalog/')
        each picture, bedFurniture in ['row1-img1.png', 'row1-img2.png', 'row1-img3.png', 'row1-img4.png', 'row2-img1.png', 'row2-img2.png', 'row2-img3.png', 'row2-img4.png','row3-img1.png', 'row3-img2.png', 'row3-img3.png', 'row3-img4.png', 'row4-img1.png', 'row4-img2.png', 'row4-img3.png', 'row4-img4.png']
            .item
                img(class='lazy' alt='' src= imagePath + picture)
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
    //-
    .contant__pagination
        .contant__pagination-title Страницы
        .contant__pagination-pages
            a.active(href='#') 1
            a(href='#') 2
            a(href='#') 3
            a(href='#') 4
            a(href='#') 5
            a(href='#') 6
            a(href='#') 7
            a(href='#') 8
            a(href='#') 9
            a(href='#') 10
            a(href='#') 11
            a(href='#') 12
include restricted/footer.pug