include restricted/header.pug
    link(rel="stylesheet" href="styles/catalog.css")
    title Каталог
.contant
    .contant__top
        h1.contant__top-title Обувь
    .contant__catalog
        .contant__catalog-row
            .item
                img(class='lazy' src='assets/img/catalog/row1-img1.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row1-img2.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row1-img3.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row1-img4.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
        .contant__catalog-row
            .item
                img(class='lazy' src='assets/img/catalog/row2-img1.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row2-img2.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row2-img3.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row2-img4.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
        .contant__catalog-row
            .item
                img(class='lazy' src='assets/img/catalog/row3-img1.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row3-img2.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row3-img3.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row3-img4.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
        .contant__catalog-row
            .item
                img(class='lazy' src='assets/img/catalog/row4-img1.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row4-img2.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row4-img3.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
            .item
                img(class='lazy' src='assets/img/catalog/row4-img4.png' alt='')
                .item__title
                    a(href='item.html') Maison Margiela Fusion Low Sneakers
                .item__subtitle Кроссовки
                .item__sale 92 000 ₽
    .contant__catalog.media
        .item
            img(class='lazy' src='assets/img/catalog/row1-img1.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row1-img2.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row1-img3.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row1-img4.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row2-img1.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row2-img2.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row2-img3.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row2-img4.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row3-img1.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row3-img2.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row3-img3.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row3-img4.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row4-img1.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row4-img2.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row4-img3.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
        .item
            img(class='lazy' src='assets/img/catalog/row4-img4.png' alt='')
            .item__title
                a(href='item.html') Maison Margiela Fusion Low Sneakers
            .item__subtitle Кроссовки
            .item__sale 92 000 ₽
    .contant__pagination
        .contant__pagination-title Страницы
        .contant__pagination-pages
            a.active(href='#') 1
            a(href='#') 2
            a(href='#') 3
            a(href='#') 4
            a(href='#') 5
            a(href='#') 6
            a(href='#') 7
            a(href='#') 8
            a(href='#') 9
            a(href='#') 10
            a(href='#') 11
            a(href='#') 12
include restricted/footer.pug