include restricted/header.pug
    link(rel="stylesheet" href="styles/checkout-complete.css")
    title Оформление заказа — успех
.contant
    .contant__success
        h1.contant__success-title Заказ №213 оформлен
        .contant__success-subtitle
            p Скоро вам позвонит менеджер, чтобы подтвердить заказ.
            p 
                a(href='index.html') Вернуться на главную
                |  или 
                a(href='catalog.html') продолжить покупки в каталоге
    .contant__bottom
        h1.contant__bottom-title Вам может быть интересно
        .contant__bottom-slider
            - var imagePath = ('assets/img/item/')
            each picture, bedFurniture in ['item__slider_1.png', 'item__slider_2.png', 'item__slider_3.png', 'item__slider_4.png','item__slider_1.png', 'item__slider_2.png', 'item__slider_3.png', 'item__slider_4.png',]
                .item
                    img(alt='' src= imagePath + picture)
                    .item__title
                        a(href='item.html') Maison Margiela Fusion Low Sneakers
                    .item__subtitle Кроссовки
                    .item__sale 92 000 ₽
include restricted/footer.pug 