@media screen and (min-width:320px) and (max-width:1199px){
.footer{
    min-width: 320px; 
    display: flex;
    flex-direction: column;
    background-color: black;
    a{color: white;}
    a:hover{color: #666666;}
    #maintitle{margin-top: 32px;}
    .footer__contant{
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        ul{list-style-type: none; width: 200px;}
        li{
            margin-left: 17.63px;
            margin-bottom: 8px;
        }
        .tittle{
            font-size: 18px;
            font-weight: 700;
            margin-top: 24px;
            margin-bottom: 12px;
            margin-left: 0;
        }
        .tittle.maintitle{margin-top: 32px;}
        .email{margin-top: 32px;}
        .phone{color: white; margin-bottom: 0;}
        .subtitle{color: #BFBFBF; font-size: 13px;}
    }
    .footer__bottom{
        display: flex;
        flex-wrap: wrap;
        margin-left: 4.69%;
        margin-top: 48px;
        margin-bottom: 60px;
        p{
            font-size: 13px;
            margin-right: 20px;
            margin-bottom: 12px;
            a{color: #666666;}
            a:hover{color: white;}
        }
    }
}
}