footer.footer
    .footer__contant
      .footer__contant-contacts
        ul
          li.tittle.maintitle
            a(href='about.html') Фетч
          li 
            a(href='#') Мазагин
          li 
            a(href='#') Блог
          li 
            a(href='#') Доставка и оплата
        ul
          li.email
            a(href='#') shop@fetch.ru
          li.phone  8 800 912-11-42
          li.subtitle Звонок бесплатный
      ul
        li.tittle
          a(href='#') Для мужчин
        li 
          a(href='#') Верхняя одежда
        li 
          a(href='#') Рубашки и поло
        li 
          a(href='#') Трикотаж
        li 
          a(href='#') Платья и юбки
        li 
          a(href='#') Бельё и носки
      ul
        li.tittle
          a(href='#') Для женщин
        li 
          a(href='#') Верхняя одежда
        li 
          a(href='#') Рубашки и поло
        li 
          a(href='#') Трикотаж
        li 
          a(href='#') Платья и юбки
        li 
          a(href='#') Бельё и носки
      ul
        li.tittle
          a(href='catalog.html') Обувь
        li 
          a(href='#') Кроссовки и кеды
        li 
          a(href='#') Ботинки
      ul
        li.tittle
          a(href='#') Аксессуары
        li 
          a(href='#') Сумки и рюкзаки
        li 
          a(href='#') Часы
        li 
          a(href='#') Бижутерия
        li 
          a(href='#') Средства для ухода
      ul
        li.tittle
          a(href='#') Скидки
        li 
          a(href='#') Летняя распродажа
        li 
          a(href='#') Коллекция 2018
    .footer__bottom
      p 
        a(href='#') © Фетч-команда, 2019
      p 
        a(href='#') Правила обработки персональных данных
      p 
        a(href='#') Разработка и поддержка сайта
script(src="https://code.jquery.com/jquery-3.5.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
script(src="scripts/index.js")